doctype html
html
  head
    // include lib
    script(src='./three.js-master/build/three.js')
    script(src='./three.js-master/js/controls/OrbitControls.js')
    script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  script(src='global_var.js')
  script(src='init.js')
  script(src='make.js')
  script.
    function upscale() {
    glob.scalex *=2
    glob.scaley *=2
    glob.scalez *=2
    }
    function downscale() {
    glob.scalex *=0.5
    glob.scaley *=0.5
    glob.scalez *=0.5
    }
    function cameraPos (){
    var z = $('input[name=zpos]').val()
    var y = $('input[name=ypos]').val()
    var x = $('input[name=xpos]').val()
    glob.camera.position.x = x
    glob.camera.position.y = y
    glob.camera.position.z = z
    }
    function rotate (it) {
    it.render = function() {
    it.rotation.x += 0.1
    }
    }
    function set_ext() {
    glob.ext_rad = $('input[name=ext_rad]').val()
    glob.ext_height = $('input[name=ext_height]').val()
    makeExtrude();
    glob.ext_num = glob.now.length-1
    }
    function set_cube() {
    glob.cube_x = $('input[name=cube_x]').val()
    glob.cube_y = $('input[name=cube_y]').val()
    glob.cube_z = $('input[name=cube_z]').val()
    makeCube();
    glob.cube_num = glob.now.length-1
    }
  body
    .three
    button(type='button', onclick='upscale()') double scale 
    button(type='button', onclick='downscale()') half scale 
    |   
    .row
      .col-sm-8
        .extrude
          h3 extrude feature
          |         
          form#extrude_circle
            | r: 
            input(type='text', name='ext_rad')
            |         h: 
            input(type='text', name='ext_height')
            |         
            input(type='button', onclick='set_ext()', value='Submit form')
        |       
        .cube
          h3 cube feature
          |         
          form#cube_feature
            | x: 
            input(type='text', name='cube_x')
            |         y: 
            input(type='text', name='cube_y')
            |         z: 
            input(type='text', name='cube_z')
            |         
            input(type='button', onclick='set_cube()', value='Submit form')
        |         
        button(type='button', onclick='makeCylinder()') make cylinder
        |       
        form#cameraPosition
          h3  camera Position 
          |         x:
          input(type='text', name='xpos')
          br
          |         y:
          input(type='text', name='ypos')
          br
          |         z:
          input(type='text', name='zpos')
          br
          |         
          input(type='button', onclick='cameraPos()', value='Submit form')
      |       
      .col-sm-4
        | asdfsafd
    ul.objs
